page-checklist-details {
  .noPaddingBottom {
    border-top: 0px solid #fff;
    padding-bottom: 0px !important;
  }
  .customBorderFiltros {
    border-bottom: 1px #000 !important
  }
  .fixMT {
    margin-top: -18px !important;
  }
  .tama単oCustomFuente {
    font-size: 1.2em !important;
  }
  .espaciadoIcono {
    color: #ccc !important;
    font-size: 1.5em !important;
    padding-top: 9px !important;
  }
  .customPadding {
    padding-left: 6px !important;
  }
  .tama単oCustom2 {
    font-size: 1.2em;
  }
  .paddingEspecial {
    padding-left: 15px !important;
  }
  .customBorderBottom {
    padding-top: 5px !important;
    border-bottom: 1px solid #E3E3E3 !important;
  }
  .customTama単oDatoSucursal {
    font-size: 1.2em !important;
  }
  .customTama単oDatoRange {
    font-size: 1.2em !important;
  }
  .customPaddingTextoRange {
    padding-bottom: 0px !important;
  }
  .customPaddingTop {
    padding-top: 8px !important;
  }

}
