<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198393374109-a469hvtkfhs8unb0r0jc2qpjhs4jg0a0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198393374109-a469hvtkfhs8unb0r0jc2qpjhs4jg0a0</string>
	<key>API_KEY</key>
	<string>AIzaSyCGvyoJVBHYUmyTNGuaNoWP6YqQSiIQY9g</string>
	<key>GCM_SENDER_ID</key>
	<string>198393374109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.gclim.gcapp</string>
	<key>PROJECT_ID</key>
	<string>gc-limonada</string>
	<key>STORAGE_BUCKET</key>
	<string>gc-limonada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198393374109:ios:2f84a05d79cf5e87983b74</string>
	<key>DATABASE_URL</key>
	<string>https://gc-limonada.firebaseio.com</string>
</dict>
</plist>