<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076523116962-1ktnhms04a6a0ta7sptgdih991820h3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076523116962-1ktnhms04a6a0ta7sptgdih991820h3f</string>
	<key>API_KEY</key>
	<string>AIzaSyAFMCez7kZuiuGEoaPWik8AZxeeHM16sfc</string>
	<key>GCM_SENDER_ID</key>
	<string>1076523116962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.gcgrupju.gcapp</string>
	<key>PROJECT_ID</key>
	<string>gc-grupo-julio</string>
	<key>STORAGE_BUCKET</key>
	<string>gc-grupo-julio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076523116962:ios:7e9afe47233d9d7e856afb</string>
	<key>DATABASE_URL</key>
	<string>https://gc-grupo-julio.firebaseio.com</string>
</dict>
</plist>