<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89316784927-q4tqpva7c3ovi72khen1n68mfnpda046.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89316784927-q4tqpva7c3ovi72khen1n68mfnpda046</string>
	<key>API_KEY</key>
	<string>AIzaSyA4dIszNgsFfFbhYOmUogv64u1lLwlErn0</string>
	<key>GCM_SENDER_ID</key>
	<string>89316784927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.informatv3.gcapp</string>
	<key>PROJECT_ID</key>
	<string>gc-tricot</string>
	<key>STORAGE_BUCKET</key>
	<string>gc-tricot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89316784927:ios:b59f3be5e5c87e7bde0e2a</string>
	<key>DATABASE_URL</key>
	<string>https://gc-tricot.firebaseio.com</string>
</dict>
</plist>