<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074763681267-o0tuk6p8ebe2uia1lin3d17nkf04244r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074763681267-o0tuk6p8ebe2uia1lin3d17nkf04244r</string>
	<key>API_KEY</key>
	<string>AIzaSyD6Nui8D_l4pjrQ3MK8Uta3NynngC_Hlig</string>
	<key>GCM_SENDER_ID</key>
	<string>1074763681267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.lounge.gcapp</string>
	<key>PROJECT_ID</key>
	<string>gc-lounge</string>
	<key>STORAGE_BUCKET</key>
	<string>gc-lounge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074763681267:ios:8c8e34a10b83a4ddd11686</string>
	<key>DATABASE_URL</key>
	<string>https://gc-lounge.firebaseio.com</string>
</dict>
</plist>