<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284641170155-jrgum3c2of3c4ivriuu0oc5da624j2nb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284641170155-jrgum3c2of3c4ivriuu0oc5da624j2nb</string>
	<key>API_KEY</key>
	<string>AIzaSyCEdue4VSTymoLo0dlC83IeL6ESL3_Egq8</string>
	<key>GCM_SENDER_ID</key>
	<string>284641170155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.ripleyperu.gcapp</string>
	<key>PROJECT_ID</key>
	<string>ripleyperu-f1ee9</string>
	<key>STORAGE_BUCKET</key>
	<string>ripleyperu-f1ee9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284641170155:ios:4b117e8491d20f30b324ae</string>
	<key>DATABASE_URL</key>
	<string>https://ripleyperu-f1ee9.firebaseio.com</string>
</dict>
</plist>