<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338497163645-0h0dsm828i6iee0jkhj9hhaud25hk116.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338497163645-0h0dsm828i6iee0jkhj9hhaud25hk116</string>
	<key>API_KEY</key>
	<string>AIzaSyA7B2bXj6-97CTJ_1cpwabIhJWUUL1zFBI</string>
	<key>GCM_SENDER_ID</key>
	<string>338497163645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.fashiopark.gcapp</string>
	<key>PROJECT_ID</key>
	<string>fashionpark-ae35e</string>
	<key>STORAGE_BUCKET</key>
	<string>fashionpark-ae35e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338497163645:ios:2bf648adbf039f1d4dfc14</string>
	<key>DATABASE_URL</key>
	<string>https://fashionpark-ae35e.firebaseio.com</string>
</dict>
</plist>