<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726376054579-ru6hca56k7a46a73c6nutiudvodcs6cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726376054579-ru6hca56k7a46a73c6nutiudvodcs6cp</string>
	<key>API_KEY</key>
	<string>AIzaSyA3A-vMsDRsE3Wt-eTnclosNqBS1DElnoA</string>
	<key>GCM_SENDER_ID</key>
	<string>726376054579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.wados.gcapp</string>
	<key>PROJECT_ID</key>
	<string>wados-b6ec2</string>
	<key>STORAGE_BUCKET</key>
	<string>wados-b6ec2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726376054579:ios:7faf58a04d92360fe28846</string>
	<key>DATABASE_URL</key>
	<string>https://wados-b6ec2.firebaseio.com</string>
</dict>
</plist>